body{
    background-color: darkslategrey;
    margin: 5%;
    font-family: Arial, sans-serif;
}
.container{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    width:25%;
    border: 2px solid darkslategrey;
    background-color: bisque;
    border-radius: 30px;
    justify-self: center;
    text-align: center;
    margin: auto;
    position: relative;
    transition: background-color 1s ease-in-out;
    box-shadow: 0 2px 8px 0 rgba(184, 233, 8, 0.589), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
    gap: 10px;
    margin-top: 10px;
}
input{
    width:80%;
    border-radius: 7px;
    padding:8px;
    border:none;
    justify-items: center;
    margin: auto;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.589), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-style: oblique;
}
.color-picker{
    position:absolute;
    top:10px;
    right: 10px;
    gap:10px;
    display:flex;
}
.color-btn{
    width:20px;
    height:20px;
    border-radius: 100%;
    border:white 2px solid;
    cursor: pointer;
}
button{
    padding: 10px 15px;
    background-color: darkslategrey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
    margin-bottom: 15px;
}
